<br/>
<div>
    <button type="button" class="btn btn-indigo btn-sm m-0">Добавить справочник</button>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Название справочника</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Удаление</button>
            </td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Публикация</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Удаление</button>
            </td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Публикация</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Строка</th>
            <th scope="col">Булево</th>
            <th scope="col">Число</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Удаление</button>
            </td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Публикация</button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Удаление</button>
            </td>
            <td>
                <button type="button" class="btn btn-indigo btn-sm m-0">Публикация</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
