@using Domain;
@using System;

<br />

<div class="j-main-container">
    <button type="button" class="btn btn-sm j-add-catalog">Добавить справочник</button>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название справочника</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-sm" data-catalogid="1">Версии</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Публикация</button>
                </td>
            </tr>
            <tr class="success hidden" data-catalogid="1">
                <td>1</td>
                <td>Otto, версия: "V1"</td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td></td>
            </tr>
            <tr class="success hidden" data-catalogid="1">
                <td>1</td>
                <td>Otto, версия: "V1"</td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td></td>
            </tr>
            <tr class="success hidden" data-catalogid="1">
                <td>1</td>
                <td>Otto, версия: "V1"</td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Otto</td>
                <td>
                    Не опубликовано
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Удаление</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Просмотр</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm">Публикация</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        (function ($) {
            var fieldSl = '.j-field', $container = $('.j-main-container');

            $('.j-add-catalog').click(function() {
                $.ajax('@Url.Action("Add")').done(function(resp) {
                    $container.html(resp);
                });
            });

            $('button[data-catalogid]').click(
                function() {
                    var $this = $(this),
                        catalogId = $this.data('catalogid');
                    var selector = '[data-catalogid="' + catalogId + '"]';
                    $('tr' + selector).toggleClass('hidden');
                }
            );

            $('.j-add-field').click(function () {
                var $last = lastField();
                $last.clone().insertAfter($last);
                lastField().find('input').val('');
                removeByClick();
            });

            function removeByClick() {
                $('.j-remove-field').off('click').on('click', function () {
                    if ($(fieldSl).length > 1)
                        $(this).closest('tr').remove();
                });
            };

            function lastField() { return $(fieldSl).last(); };

            removeByClick();
        })(jQuery);
    </script>
}

