USE [master]
GO
/****** Object:  Database [test]    Script Date: 11.08.2018 12:56:11 ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
USE [test]
GO
/****** Object:  UserDefinedTableType [dbo].[FieldList]    Script Date: 11.08.2018 12:56:11 ******/
CREATE TYPE [dbo].[FieldList] AS TABLE(
	[FieldName] [varchar](50) NULL,
	[FieldType] [tinyint] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ValueList]    Script Date: 11.08.2018 12:56:11 ******/
CREATE TYPE [dbo].[ValueList] AS TABLE(
	[ID] [int] NOT NULL,
	[StringVal] [text] NULL,
	[BoolVal] [bit] NULL,
	[IntVal] [int] NULL,
	[DateVal] [date] NULL,
	[FieldId] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[catalog_elements]    Script Date: 11.08.2018 12:56:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalog_elements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_elements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[catalog_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_catalogs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[field_values]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[field_values](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[string_val] [text] NULL,
	[bool_val] [bit] NULL,
	[int_val] [int] NULL,
	[date_val] [date] NULL,
	[field_id] [int] NOT NULL,
	[element_id] [int] NOT NULL,
 CONSTRAINT [PK_values] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_field_values] UNIQUE NONCLUSTERED 
(
	[element_id] ASC,
	[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fields]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fields](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[field_name] [varchar](50) NOT NULL,
	[field_type] [tinyint] NOT NULL,
	[catalog_id] [int] NOT NULL,
 CONSTRAINT [PK_fields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versions]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[catalog_id] [int] NOT NULL,
	[version_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_versions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[versions_data]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[versions_data](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[field_id] [int] NOT NULL,
	[string_val] [text] NULL,
	[bool_val] [bit] NULL,
	[int_val] [int] NULL,
	[date_val] [date] NULL,
	[version_id] [int] NOT NULL,
	[element_id] [int] NOT NULL,
 CONSTRAINT [PK_versions_data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_versions_data] UNIQUE NONCLUSTERED 
(
	[element_id] ASC,
	[field_id] ASC,
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[field_values]  WITH CHECK ADD  CONSTRAINT [FK_field_values_elements] FOREIGN KEY([element_id])
REFERENCES [dbo].[catalog_elements] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_values] CHECK CONSTRAINT [FK_field_values_elements]
GO
ALTER TABLE [dbo].[field_values]  WITH CHECK ADD  CONSTRAINT [FK_values_fields] FOREIGN KEY([field_id])
REFERENCES [dbo].[fields] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[field_values] CHECK CONSTRAINT [FK_values_fields]
GO
ALTER TABLE [dbo].[fields]  WITH CHECK ADD  CONSTRAINT [FK_fields_catalogs] FOREIGN KEY([catalog_id])
REFERENCES [dbo].[catalogs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fields] CHECK CONSTRAINT [FK_fields_catalogs]
GO
ALTER TABLE [dbo].[versions]  WITH CHECK ADD  CONSTRAINT [FK_versions_catalogs] FOREIGN KEY([catalog_id])
REFERENCES [dbo].[catalogs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[versions] CHECK CONSTRAINT [FK_versions_catalogs]
GO
ALTER TABLE [dbo].[versions_data]  WITH CHECK ADD  CONSTRAINT [FK_versions_data_versions] FOREIGN KEY([version_id])
REFERENCES [dbo].[versions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[versions_data] CHECK CONSTRAINT [FK_versions_data_versions]
GO
/****** Object:  StoredProcedure [dbo].[Create_Catalog]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Create_Catalog]
	@catalog_name VARCHAR(50),
	@field_list AS dbo.FieldList READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	SET XACT_ABORT ON

	BEGIN TRY
		BEGIN TRANSACTION
		-- Insert statements for procedure here
		INSERT INTO catalogs (catalog_name) VALUES (@catalog_name)
		DECLARE @cat_id INT = SCOPE_IDENTITY()
		INSERT INTO fields (field_name, field_type, catalog_id) SELECT FieldName, FieldType, @cat_id FROM @field_list
		COMMIT TRANSACTION
		RETURN @cat_id
	END TRY
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
			ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Public_Version]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Public_Version]
	-- Add the parameters for the stored procedure here
	@catalog_id INT,
	@version_name VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET XACT_ABORT ON
	
    BEGIN TRY
		BEGIN TRANSACTION
		INSERT INTO versions (version_name, catalog_id) VALUES (@version_name, @catalog_id)
		DECLARE @version_id INT = SCOPE_IDENTITY()
		INSERT INTO versions_data (field_id, string_val, bool_val, int_val, date_val, version_id, element_id)
		SELECT field_id, string_val, bool_val, int_val, date_val, @version_id, element_id
		FROM field_values fv JOIN fields f ON fv.field_id = f.ID
		WHERE f.catalog_id = @catalog_id
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
			BEGIN
				ROLLBACK TRANSACTION
			END
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Save_Values]    Script Date: 11.08.2018 12:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Save_Values]
	@value_list AS dbo.ValueList READONLY,
	@create_element BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	SET XACT_ABORT ON

	BEGIN TRY
		BEGIN TRANSACTION
		-- Insert statements for procedure here
		IF (@create_element = 1)
			BEGIN
				INSERT dbo.catalog_elements DEFAULT VALUES
				DECLARE @element_id INT = SCOPE_IDENTITY()
			END
		MERGE dbo.field_values AS t
		USING @value_list AS s
		ON (t.ID = s.ID)

		WHEN MATCHED THEN
			UPDATE SET
				t.string_val = s.StringVal,
				t.bool_val = s.BoolVal,
				t.int_val = s.IntVal,
				t.date_val = s.DateVal
		WHEN NOT MATCHED THEN
			INSERT (string_val, bool_val, int_val, date_val, field_id, element_id) VALUES (s.StringVal, s.BoolVal, s.IntVal, s.DateVal,	s.FieldId, @element_id);
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF (@@TRANCOUNT > 0)
			BEGIN
				ROLLBACK TRANSACTION
			END
	END CATCH
END
GO
USE [master]
GO
